*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 300;

  /* FOIT 현상 방지 */
}

.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
}

/* 토글 시 움직일 원을 absolute 처리해야한다. */
.toggle-button {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.toggle-button-switch {
  position: absolute;
  top: 2px;
  left: 2px;

  /* 토글시 50px 만큼 우측으로 바뀌므로 left: 52px 처리해야한다. */
  transition: left 0.3s;

  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 100%;
}

.toggle-button-text {
  display: flex;
  background-color: #3dbf87;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
}

.toggle-button-text-on,
.toggle-button-text-off {
  width: 50%;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

/* article 좌우 사이즈 조절된다. */
article {
  width: 960px;
  margin: 50px auto 0;
  font-size: 1.5em;
}

/* body class 로 dark 모드를 설정한다. */
body.dark {
  background-color: #232323;
}

body.dark .toggle-button-switch {
  left: 52px;
}

body.dark .toggle-button-text {
  background-color: #fc3164;
}

body.dark article {
  color: #fff;
}
