* {
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}

.current-item {
  display: flex;
  text-align: cneter;
  margin-top: 20px;
}

form div {
  display: flex;
  justify-content: center;
}

form p {
  text-align: center;
}

.submit-container {
  margin-top: 10px;
}
