.container {
  width: 500px;
}

.dropdown-container {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item > img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.dropdown-item > span {
  overflow: hidden;
  width: calc(100% - 60px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-container {
  width: 100%;
}
