*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.search-container {
  display: table-cell;
  height: 50px;
  padding: 10px;

  /* 수직방향 중앙위치 */
  vertical-align: middle;
}

.search-input {
  width: 200px;
  border: none;
  outline: none;
}

.list-container {
  border: 1px solid #ccc;
  padding: 10px;
}
